<component name="ArtifactManager">
  <artifact type="war" external-system-id="Maven" name="spring24:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring24</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring24-1.0.0-BUILD-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring24:war exploded" />
    </root>
  </artifact>
</component>